<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Observable-Swift-Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05CE23581C6EE7B6001FA120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CE236C1C6EE7B6001FA120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CE23771C6EE7B6001FA120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
